.quality {
  @include main(100px);
  height: 952px;
  .quality__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .quality__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 560px;

      .quality__description__wrapper {
        display: flex;
        justify-content: center;
        flex: 0 1 50%;
        flex-direction: column;
        .quality__description {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 0 1 50%;
          .quality__title {
            @include text(36px, 600, 40px);
          }

          .quality__text {
            @include text(18px, 400, 20px);
          }

          .quality__title_circle_full {
            @include circle(calc(100% - 32.5px), calc(100% - 27.5px), true);
          }
          .quality__title_circle_partial {
            @include circle(calc(100% - 32.5px), calc(100% - 27.5px));
          }
        }
      }
      .quality__image_1 {
        background-image: url("@images/mounts.png");
        width: 560px;
        height: 360px;
        background-size: cover;
        flex: 0 1 360px;
      }
      .quality__image_2 {
        background-image: url("@images/shampoo.png");
        width: 560px;
        height: 360px;
        background-size: cover;
        flex: 0 1 360px;
      }
    }
  }
}
