.account {
  display: flex;
  flex-direction: column;

  &__title {
    @include text(36px, 600, 40px);
    flex: 0 1 10%;
  }

  &__input__content {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
  }

  &__input__row {
    display: flex;
    justify-content: space-between;
  }
}
