.new-catalog {
  @include main(60px);
  padding-bottom: 0px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    @include text(36px, 600, 40px);
  }

  &__text {
    @include text(20px, 600, 30px);
    opacity: 0.6;
  }

  &__wrapper {
    display: flex;
    gap: 100px;
    // justify-content: space-between;
  }

  &__draggle {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text__container {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    justify-content: space-between;
  }
}
